<div class="wrapper">
  <div class="side-bar">
    <div class="side-bar-top"></div>
    <%= render"side_bar" %>
  </div>
  <div class="chat">
    <div class= "chat-top"></div>
    <div class= "chat-bottom"></div>
    <%= render "main_chat" %>
  </div>
</div>